.color-example {
    color: red;
    background-color: #204fbe;
    border: 5px solid;
    border-color: rgba(3, 182, 73, 0.5);
}
.header-example {
    font-size: large;
    font-family: monospace;
    color: #0dd03b
}
.list-example {
    list-style-type: square;
    color: #c600ff
}
.text-example {
    font-family: sans-serif;
    Font-size: 20px;
    text-transform: capitalize;
    text-decoration: underline
}
.div-example {
    background-color: #00fff7;
    border: dotted;
    border-color: #ff001c
}