body {
    background-color: #11dcda
}
h1 {
    background-color: #1020cd;
    border:9px double #ed00ff;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 20px
}
p {
    border: 3px solid #290fc4;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(195, 8, 8, 0.78);
    padding: 10px
}